.footer-row {
  display: flex;
  background-color: #dbd8e3;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1200;
}

.footer-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.footer-text {
  color: black; /* Lighter color for subtlety */
  /* display: inline; */
  margin: 0 10px;
  /* transition: color 0.3s; Smooth color transition on hover */
  font-size: small;
}
